@import '../../../../scss/variables';

$dynamicTextHeight: 90px;
$typingMaxLength: 20;
$typingDuration: 4.5s;
$slideElements: 5;
$slideDuration: calc(#{$typingDuration} * #{$slideElements});
$slideTop: calc((#{$dynamicTextHeight} * #{$slideElements}) * -1);

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: inline-flex;
  text-align: left;

  .static-text,
  .dynamic-texts {
    font-size: 5.6rem;
    font-weight: 500;
  }

  .dynamic-texts {
    margin-left: 15px;
    line-height: $dynamicTextHeight;
    height: $dynamicTextHeight;
    overflow: hidden;
    margin-bottom: 0;
    li {
      color: $cedar-chest;
      list-style: none;
      position: relative;
      top: 0;
      // typing duration * steps
      animation: slide $slideDuration steps($slideElements) infinite;

      span {
        position: relative;
        
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: $background;
          border-left: 2px solid $cedar-chest;
          animation: typing $typingDuration steps($typingMaxLength) infinite;
        }
      }
    }
  }  
}

@keyframes typing {
  40%, 60%{
    left: 100%;
  }
  100% {
    left: 0;
    // left: 100%;
    // margin: 0 -35px 0 35px;
  }
}

@keyframes slide {
  100% {
    // Line height | height * elements
    top: $slideTop;
  }
}