#blog {
  position: relative;
  height: 100vh;
  z-index: 100;
  background-color: white;
  font-family: 'Montserrat', sans-serif;

  h2 {
    padding-top: 15px;
    text-align: center;
    font-size: 4.2rem;
    font-weight: bold;
  }
}
