#projects {
  position: relative;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  padding: 60px 0 90px 0;

  h2 {
    text-align: center;
    font-size: 4.2rem;
    font-weight: bold;
  }

  .projects__content {
    padding-top: 70px;
  }
}

.bg-gray {
  background-color: #F2F2F2;
}